[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yogeshKulkarni035
[access "refs/for/refs/*"]
	read = group user/yogeshKulkarni035
	push = group user/yogeshKulkarni035
	label-Code-Review = -2..+2 group user/yogeshKulkarni035
	label-Verified = -1..+1 group user/yogeshKulkarni035
	rebase = group user/yogeshKulkarni035
	removeReviewer = group user/yogeshKulkarni035
	submit = group user/yogeshKulkarni035
[access "refs/heads/*"]
	read = group user/yogeshKulkarni035
	create = group user/yogeshKulkarni035
	push = +force group user/yogeshKulkarni035
	pushMerge = group user/yogeshKulkarni035
[access "refs/tags/*"]
	push = +force group user/yogeshKulkarni035
	pushTag = group user/yogeshKulkarni035
	pushSignedTag = group user/yogeshKulkarni035
